@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 1px;
  width: 100px;
}

.button:hover {
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 1px 3px 3px lightgray;
}